<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="col-10">
                <a class="login-link" href="/reset">Forgot your password?</a>
            </div>
            <div class="login-btn">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
            <div class="centered">
                <p className="grey-text text-darken-1">Don't have an account?
                    <a class="register-link" href="/signup">Register</a>
                </p>
            </div>
        </form>
        
    </main>
<%- include('../includes/end.ejs') %>